<%- include('../partials/header', { hola : 'new' }) %>
<h2>Create PRoduct</h2>


<form action="/products" method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required>
    <label for="price">Price</label>
    <input type="number" name="price" id="price" required>
    <label for="category">Category</label>
    <select name="category" id="category">
        <!-- <option value="fruit">Fruit</option>
        <option value="dairy">Dairy</option>
        <option value="fast">Fast</option> -->
        <% category.forEach(element => { %>
            <option value="<%= element %>"><%= element %></option>
        <% }) %>
    </select>
    <button type="submit">Create</button>
</form>

<hr>
<a href="/products">Home</a>
</body>
</html>